# MongoDB Service
# Assignment UUID: e271b052-9200-4502-b491-62f1649c07
apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
  labels:
    app: mongodb
    assignment-uuid: e271b052-9200-4502-b491-62f1649c07
spec:
  type: ClusterIP
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
    name: mongodb
  selector:
    app: mongodb
    assignment-uuid: e271b052-9200-4502-b491-62f1649c07

