# Kafka Service
# Assignment UUID: e271b052-9200-4502-b491-62f1649c07
apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  labels:
    app: kafka
    assignment-uuid: e271b052-9200-4502-b491-62f1649c07
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: kafka
  selector:
    app: kafka
    assignment-uuid: e271b052-9200-4502-b491-62f1649c07

